#carouselExampleCaptions    div.content{
    width:150px;
    height:100px;
    min-width:150px;
    min-height:100px;
    max-width:200px;
    max-height:100px;
    overflow:hidden;
    display:block;
    border:1px solid red;
}
