body {
  background-image: url("../images/blue-floral-watercolor-background.jpg");
  background-repeat: repeat;
  position: relative;
  line-height: 2rem;
}

#carouselExampleCaptions {
  background-color: darkgray;

  div.content {
    min-width: 150px;
    min-height: 300px;
    overflow: hidden;
    display: block;
  }
  .carousel-caption {
    color: white;
  }
}

.jumbotron {
  background-color: rgba(233, 236, 239, 0.75);
}

.bg-primary {
  background-color: #637cd8 !important;
}

h1 {
  &:not(:first-of-type) {
    padding-top: 5rem;
  }
  @media (max-width: 575px) {
    &:first-of-type {
      padding-top: 2rem;
    }
  }
}

nav {
  @media (min-width: 768px) {
    span.date {
      display: inline !important;
    }
  }
}

div.transport {
  @media (max-width: 990px) {
    flex-wrap: wrap;
  }
  img {
    margin-right: 1rem;
    @media (max-width: 990px) {
      order: 2;
    }
  }
}