body {
  background-image: url("../images/blue-floral-watercolor-background.jpg");
  background-repeat: repeat;
  position: relative;
  line-height: 2rem;
}

#carousel {
  background-color: darkgray;
  border-radius: 0.5rem;
  .carousel-item {
    img {
      border-radius: 0.5rem;
      min-height: 10rem;
    }
    .carousel-caption {
      color: white;
      background-color: darkgray;
      border-radius: 0.5rem;

      @media (max-width: 768px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
        h5,
        p {
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

.jumbotron {
  background-color: rgba(233, 236, 239, 0.904);
}

.bg-primary {
  background-color: #637cd8 !important;
}

h1 {
  @media (max-width: 575px) {
    &:first-of-type {
      padding-top: 2rem;
    }
  }

  &:not(:first-of-type) {
    margin-top: 3rem;
  }
}

nav {
  @media (min-width: 768px) {
    span.date {
      display: inline !important;
    }
  }
  @media (max-width: 575px) {
    .navbar-brand{
      font-size: 0.9rem;
    }
  }
}

div.alert {
  margin-top: 1rem;

  &.alert-danger{
    background-color: #dbb3b731;
    text-align: center;
  }
  @media (max-width: 575px) {
    margin-top: 3rem;
  }
}

div.transport {
  @media (max-width: 990px) {
    flex-wrap: wrap;
  }
  img {
    margin-right: 1rem;
    @media (max-width: 990px) {
      order: 2;
    }
  }
  p {
    text-align: left;
  }
}

div.location {
  align-items: center;
  justify-content: center;
  @media (max-width: 990px) {
    flex-wrap: wrap;
  }
  p {
    text-align: left;
  }
  p.map {
    margin-right: 1rem;
    @media (max-width: 990px) {
      order: 2;
    }
  }
}

h1,
p.lead {
  text-align: center;
}

table.order-of-play {
  th {
    border-right: solid 1px black;
    text-align: center;
  }
  td {
    padding-left: 2.5rem;
    @media (max-width: 768px) {
      padding-left: 1rem;
    }
  }
}

:not(#carousel)*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

table.table {
  margin: 0px auto;
  width: unset;
  min-width: 400px;
}

button:disabled {
  cursor: not-allowed;
}
